---
layout: default
---
<div class="post">

  <header class="post-header">
     <h1 class="post-title">{{ page.title }}</h1>
     <p class="post-meta">
         <i class="fa fa-calendar-o"></i> {{ page.date | date: "%b %-d, %Y" }}
         {% if page.author %} • <i class="fa fa-user"></i> {{ page.author }}{% endif %}
         {% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

    {% include prev_next_post.html %}

  <article class="post-content">
    {{ content }}
  </article>

    {% if site.google_analytics %}
        {% include google_analytics.html %}
    {% endif %}

    {% if site.disqus_shortname %}
       {% include disqus.html %}
    {% endif %}

  <div class="post-up" align="center">
  	<a href="#">
  	<i class="fa fa-angle-up fa-2x"></i>
  	</a>
  </div>

</div>